nav{
	background-color: #00796B;
	height:100px;
	padding: 10px;
}
hr {
  clear: both;
}
#title{
	position: absolute;
	float: left;
	left: 25px;
	top:8px;
}
#navButtons{
	position: absolute;
	float: right;
	right: 25px;
	top: 22px;
        min-width: 180px;
}
#navButtons a {
        min-width: 200px;
}

#onOff{
	position: absolute;
	float: right;
	right: 180px;
	top: 7px;
}
main{
	padding: 20px;
	color: #00796B ;
}
.container{
	text-align: center;
	width: 80%
}
.topic{
	text-align: center;
	overflow:scroll;

        background-color: #949494;
	height: 300px;
	width: 100%;
	border-radius: 10px;
	padding: 1%;
}
h5{
	text-align: left;
}
h6{
	text-align: right;
}
.partition{
        display: block;
	text-align: right;
	background-color: #009688;
	border-radius: 10px;
	color: white;
}
.partitionText {
	top:8px;
	right: 8px;
	color: white;
	padding: 2px;
}
.leftFloat{
	position: relative;
	float:left;
	width: 68%;
	height: auto;
}
.rightFloat{
	position: relative;
	float:right;
	width: 30%;
	height: 75%;
	text-align: center;
	color: white !important;
}
.partitionDownload{
	height: 10%;
	color: white;
}
.partitionButtons{
        float: left;
        text-align: left;
	position: relative;
	bottom: 0px;
	margin: 4px;
	color: #00796B;

}

.subNavBar{
  width:100%;
  display:inline-block;
}
.data{
  background-color: rgb(226, 225, 225);
  color: black;
  border: 1px solid black;
  height: 100%;
  padding: 10px;
  overflow: scroll;
  border-radius: 10px;
}
.dataSubmit{
  float: left;
}
.dataList{
  list-style-type: none;
  clear: both;
}
.pull-left{
  float: left;
}
.pull-right{
  float:right;
}

.searchResults{
  height:auto;
  width:800px;
  overflow:auto;
  max-height:400px;
}
